* {
		box-sizing: border-box;
	}
	body {
		margin: 0;
		padding: 0;
		background-color: rgba(0, 121, 191, 1);
	}
	.header {
		height: 55px;
		background-color: rgba(0, 103, 163, 1);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px;
	}
	.header__logo {
		color: #fff;
		font-family: "Roboto", sans-serif;
		font-size: 28px;
	}
	.header__profile:hover .header__profile-menu {
		display: flex;
	}
	.header__profile-user {
		width: 40px;
		height: 40px;
		border-radius: 20px;
		background-color: white;
		background-image: url(../icons/userpic.svg);
		background-position: 50%;
		background-size: 40px;
		position: relative;
		margin-right: 24px;
		cursor: pointer;
	}
	.header__profile-user:after {
		content: "";
		display: block;
		width: 24px;
		height: 24px;
		background-image: url(../icons/dropdown.svg);
		background-size: 24px;
		background-position: 50%;
		position: absolute;
		top: 10px;
		right: -24px;
	}
	.header__profile-menu {
		position: absolute;
		display: none;
		flex-direction: column;
		gap: 8px;
		padding: 8px;
		background-color: #fff;
		border-radius: 5px;
		font-family: "Roboto";
		font-size: 14px;
		font-weight: 400;
		min-width: 134px;
		right: 10px;
		top: 60px;
		z-index: 100;
	}
	.header__profile-menu:after {
		content: "";
		width: 11px;
		height: 11px;
		display: block;
		background-color: #fff;
		position: absolute;
		transform: rotate(45deg);
		top:-5px;
		right: 48px;
	}
	.footer {
		height: 55px;
		background-color: rgba(0, 103, 163, 1);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px;
	}
	.footer__info {
		display: flex;
		align-items: center;
		gap: 36px;
		color: #fff;
		font-family: "Roboto", sans-serif;
		font-size: 18px;
	}
	.footer__info-item {}
	.footer__copyright {
		font-family: "Roboto", sans-serif;
		font-size: 18px;
		color: #fff;
	}
	main {
		height: calc(100vh - 110px);
	}
	.kanban {
		width: 100vw;
		height: 100%;
		padding: 20px;
		overflow: auto;
		background-color: rgba(0, 121, 191, 1);
	}
	.kanban__cols {
		display: flex;
		gap: 24px;
	}
	.kanban__col {
		width: 282px;
		height: fit-content;
		min-width: 282px;
		border-radius: 10px;
		background-color: rgba(235, 236, 240, 1);
		padding: 12px;
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
	.kanban__col-title {
		font-family: "Roboto", sans-serif;
		font-size: 18px;
	}
	.kanban__tickets {
		display: flex;
		flex-direction: column;
		gap: 15px;
		max-height: calc(100vh - 266px);
		overflow: auto;
	}
	.kanban__ticket {
		padding: 8px;
		background-color: #fff;
		border-radius: 5px;
	}
	.kanban__ticket-title {
		font-family: "Roboto", sans-serif;
		font-size: 18px;
		line-height: 20px;
		color: #000;
		text-decoration: none;
	}

	.kanban__form-form {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
	.kanban__form-add {
		font-family: Roboto;
		font-size: 18px;
		color: rgba(94, 108, 132, 1);
		cursor: pointer;
		background-color: transparent;
		border-radius: 5px;
		padding: 4px;
		transition: all .2s;
		width: fit-content;
	}
	.kanban__form-add:hover {
		background-color: #fff;
	}
	.kanban__form-button {
		font-family: Roboto;
		font-size: 18px;
		font-weight: 400;
		color: #fff;
		padding: 4px;
		border-radius: 5px;
		background-color: rgba(0, 121, 191, 1);
		border: none;
		cursor: pointer;
		min-width: 102px;
	}
	.kanban__form-input {
		padding: 8px;
		background-color: #fff;
		border-radius: 5px;
		font-family: "Roboto", sans-serif;
		font-size: 18px;
		border: none;
		outline: none;
		width: 100%;
	}
	.kanban__form-select {
		padding: 8px;
		background-color: #fff;
		border-radius: 5px;
		font-family: "Roboto", sans-serif;
		font-size: 18px;
		border: none;
		outline: none;
		width: 100%;
		background-image: url(../icons/select-arrow.svg);
		background-size: 18px 12.5px;
		background-position: right 10px top 50%;
		background-repeat: no-repeat;
		-webkit-appearance: none;
		cursor: pointer;
	}

	.ticket {
		position: relative;
		padding: 26px;
	}
	.ticket__content {
		background-color: #fff;
		border-radius: 5px;
		padding: 22px 28px;
	}
	.ticket__title {
		margin-bottom: 35px;
		font-family: "Roboto";
		font-size: 24px;
		font-weight: 400;
		line-height: 28px;
	}
	.ticket__text {
		font-family: "Roboto";
		font-size: 18px;
		font-weight: 400;
		line-height: 20px;
	}
	.ticket__close {
		position: absolute;
		top: 43px;
		right: 49px;
		width: 25px;
		height: 25px;
		background-image: url(../icons/close.svg);
		background-position: 50%;
		background-size: contain;
		background-repeat: no-repeat;
	}

	@media all and (max-width: 768px) {
		.kanban__cols {
			flex-direction: column;
		}
		.kanban__col {
			width: 100%;
			min-width: 100%;
		}
		.kanban__tickets {
			max-height: fit-content;
		}
	}